.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-family: 'Jost', sans-serif;
}

.title {
	color: black;
	font-size: 4rem;
	font-weight: 400;
	text-transform: uppercase;
}

.title a {
	text-decoration: none;
	color: inherit;
}

.score {
	text-align: right;
}
